body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('bg.jpg');
}


input {
  width: 100%;
}
.form-input {
  margin: 10px 0 0 0;
}
.form {
  width: 60%;
}
.cover {
  width: 350px;
  height:350px;
  background-color:#b3a08f8f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.style-box{
  height: 30px;
  font-weight: 500px;
  font-size: 15px;
  border-radius: 10px;
  border-color: beige;
}
.style-box-login{
  background-color: #463525;
  width: 100px;
  height: 34px;
  margin: 34px;
  font-size: 15px;
  color: #f3f1ee;
  border-radius: 15px;
  border-color: rgb(116, 75, 29);
  font-weight: bold;
  margin-left: 55px

}
.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  color: #0a0909;
  font-weight: bold;

}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#81542afa;
  padding-top: 20px;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li a {
  padding: 20px;
  color: #fff;
  text-decoration: none;
  display:block;
}


.sidebar h1 img {
  width: 100%;
  position: relative;
  margin-bottom: -25px;

}
.sidebar {
  text-align: center; 
}

.sidebar form {
  text-align: center;
  margin-top: 200px;

}

.sidebar form button {
  background-color: #362611; 
  box-shadow:  2px 4px rgba(0, 0, 0, 0.1);  border: none;
  color: #ebf5f0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.dashboard {
  text-align: center;
}

.dashboard h1 {
  text-align: center;
  font-size: 28px; 
  color: #ffffff; 
  margin-left: 200px;
  background-color: #e6c3a2b4;
  border-radius: 20px;

}


.reservation {
  margin-left: 200px;
  padding: 20px;
  background-color: #c4977aa2;
  border-radius: 20px;

}

.reservation h2 {
  color:#ffffff ;
  margin-top: 50px;
  background-color: #291e14a1;
  padding:10px;
  border-radius: 20px;
}



table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #492e15d8;
  color: #f7f7f7;
}



.reservation button {
  background-color: #b99c80; 
  border: none;
  box-shadow:  2px 3px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 50px;
}





.judulData h1{
  color: #fff;
  background-color: #af91769c;
  border-radius: 20px;
  text-align: center;
}

.reservation label{
  color: #ffffff;
  font-weight: bold;
  text-shadow: -1px -1px 0 #5c3419,  
  1px -1px 0 #5c3419,
  -1px 1px 0 #5c3419,
  1px 1px 0 #5c3419;

}

.reservation form input, .reservation select{
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.reservation input,
.reservation select {
    margin-bottom: 15px; /* Atur jarak antara elemen input dan elemen select */
}



